.content {
    margin-left: 60px;
    margin-top: 60px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: margin-left 0.3s ease;
    min-height: calc(100vh - 60px);
}

@media (max-width: 991.98px) {
  .content {
    margin-left: 60px;
    margin-top: 60px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 575.98px) {
  .content {
    margin-left: 60px;
    margin-top: 56px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
