<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast show" [ngClass]="notification.success ? 'bg-success': 'bg-danger'"
       role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">{{notification.title}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" (click)="close()" aria-label="Close"></button>
    </div>
    <div class="toast-body fw-bolder text-white">
      {{notification.message}}
    </div>
  </div>
</div>
