<nav class="navbar fixed-top header d-flex py-3 align-items-center justify-content-between">
    <img class="logo" src="../../../assets/company/carlson_logo.png" alt="Logo Empresa">
    <ul class="d-flex">
      <div class="dropdown ms-5" [class.show] = "profileDropDown === true" (click)="openProfileDropDown()">
        <button class="btn dropdown-toggle" type="button">
          {{userName}}
        </button>
        <ul class="dropdown-menu" [class.show] = "profileDropDown === true" >
          <li><a class="dropdown-item" type="button" (click)="logout()">Sair</a></li>
        </ul>
      </div>
    </ul>
</nav>
