<section class="page-section">
  <div class="dashboard-grid">
    <div class="dashboard-full">
      <app-quick-actions />
    </div>
    <div class="dashboard-full">
      <app-new-students-this-month />
    </div>
    <div class="dashboard-half">
      <app-frequencies-belt-distribution />
    </div>
    <div class="dashboard-half">
      <app-avg-students-by-class />
    </div>
    <div class="dashboard-half">
      <app-top-students />
    </div>
    <div class="dashboard-half">
      <app-birthday-this-month />
    </div>
  </div>
</section>
