<div class="modal fade show" tabindex="-1" role="dialog" style="display:block">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nova Graduação</h5>
        <button type="button" (click)="close()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="graduationForm">
          <div class="mb-3">
            <label for="studentSelect" class="form-label">Aluno *</label>
            <select class="form-select" id="studentSelect" formControlName="studentId">
              <option value="">Selecione um aluno</option>
              <option *ngFor="let student of students" [value]="student.id">
                {{student.firstName}} {{student.lastName}} ({{student.email}})
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="beltSelect" class="form-label">Faixa *</label>
            <select class="form-select" id="beltSelect" formControlName="beltId">
              <option value="">Selecione uma faixa</option>
              <option *ngFor="let belt of belts" [value]="belt.id">
                {{belt.color}} (Ordem: {{belt.orderIndex}}) {{belt.isForKids ? '- Para Crianças' : ''}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="graduationDate" class="form-label">Data</label>
            <input id="graduationDate" class="form-control" min="1900-01-01" type="date" formControlName="graduationDate" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!graduationForm.valid">Salvar</button>
        <button type="button" (click)="close()" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
