.page-section {
  padding: 1.5rem;
}

.page-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.click {
  cursor: pointer;
  &:hover {
    background-color: var(--brand-sidebar-hover);
    color: var(--brand-text);
  }
}