<section class="page-section">
  <div class="page-toolbar">
    <p-button label="Novo Aluno" icon="pi pi-plus" (onClick)="openCreate()" />
  </div>

  <p-table
    [value]="items()?.items ?? []"
    [loading]="isLoading()"
    styleClass="p-datatable-sm p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Nome</th>
        <th>Graduação</th>
        <th>Aulas</th>
        <th>Aniversário</th>
        <th>Último login</th>
        <th class="text-center" style="width: 8rem">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
      <tr>
        <td>{{ student.firstName }} {{ student.lastName }}</td>
        <td><p-tag [value]="student.currentBelt" /></td>
        <td><p-tag [value]="student.totalFrequencies?.toString()" severity="info" /></td>
        <td>{{ student.birthDay | date:'dd/MM/yyyy' }}</td>
        <td>{{ student.lastLoginAt | date:'dd/MM/yyyy HH:mm' }}</td>
        <td class="text-center">
          <p-button icon="pi pi-pencil" [text]="true" severity="info" size="small" (onClick)="openEdit(student)" />
          <p-button icon="pi pi-trash" [text]="true" severity="danger" size="small" (onClick)="delete(student)" />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr><td [colSpan]="6" class="text-center py-5 text-muted">Nenhum registro encontrado.</td></tr>
    </ng-template>
  </p-table>

  <app-pagination
    [currentPage]="currentPage()"
    [totalPages]="items()?.totalPages ?? 1"
    [pageSize]="pageSize()"
    [totalItems]="items()?.totalCount ?? 0"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)" />

  <p-dialog
    [visible]="openedCreate()"
    (visibleChange)="openedCreate.set($event)"
    header="Novo Aluno"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    styleClass="w-full md:w-30rem"
  >
    <app-create-student (closeEvent)="openedCreate.set(false)" (studentCreated)="onCreated()" />
  </p-dialog>

  <p-dialog
    [visible]="openedUpdate()"
    (visibleChange)="openedUpdate.set($event)"
    header="Editar Aluno"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    styleClass="w-full md:w-30rem"
  >
    @if (selected()) {
      <app-update-student [student]="selected()!" (closeEvent)="openedUpdate.set(false)" (studentUpdated)="onUpdated()" />
    }
  </p-dialog>
</section>
